/* Navbar.module.scss */

$primaryColor: #f8f9fa;
$borderColor: #ddd;
$fontColor: #333;

.navbarWrapper {
  color: #fff;
  display: flex;
  padding: 0 10px;
  max-height: 105px;
  align-items: center;
  background-color: #283335;
  justify-content: space-between;
}

.navbarLogo {
  flex: 1;
}

.navbarTitle {
  font-family: Monospace;
  color: #fff;
  font-size: 40px;
  margin-bottom: 0;
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.googleLoginBtn {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.googleLogo {
  margin-right: 8px;
}
